html, body {
  font-family:'Roboto', '黑體-繁', '微軟正黑體', sans-serif;
  font-size: 16px;
  background: #E3DFC8;
  height: 100%;
  margin: 0;
  padding: 0;
}
.google_map {
	height: 600px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}
#map-canvas {
	height: 100%;
	width: 100%;
}
#map-top {
  margin: 10px 30px;
}

a, .title, p {
  font-family:'Roboto', '黑體-繁', '微軟正黑體', sans-serif !important;
  color: #808C6C !important;
}
.row {
  text-align:center;
}
#plan .content p{
  text-align: justify;
}
.down.icon {
  color: #808C6C !important;
}

.plan_detail {
  margin-top: 10px;
}

.preview_img img {
  width: 100px;
  background-color: white;
  padding: 5px;
  border-radius: 3px; 
  transition:All 0.4s ease-in-out;
  -webkit-transition:All 0.4s ease-in-out;
  -moz-transition:All 0.4s ease-in-out;
  -o-transition:All 0.4s ease-in-out;

}
.preview_img img:hover {
  transform:scale(1.1);
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  -ms-transform:scale(1.1);
}

.ui.modal p:first-child {
  position: fixed;
  right: 15px;
}
.ui.modal .close {
  color: #111;
}
.ui.modal .content {
  padding: 15px;
}
/*#F5F1DA*/
/*#808C6C*/
/*#FDAC61*/
