html, body {
  font-family:'Roboto', '黑體-繁', '微軟正黑體', sans-serif;
  font-size: 16px;
  background: #E3DFC8;
  height: 100%;
  margin: 0;
  padding: 0;
}
a, .title, p {
  font-family:'Roboto', '黑體-繁', '微軟正黑體', sans-serif !important;
  color: #808C6C !important;
}
#page_loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #E3DFC8;
}
.map {
  height: 600px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 15px;
}
#map-canvas {
  height: 100%;
  width: 100%;
}
#map-top {
  padding-top: 20px;
}

.row {
  text-align:center;
}
#plan .content p{
  text-align: justify;
}
.down.icon {
  color: #808C6C !important;
}

.plan_detail {
  margin-top: 10px;
}

.preview_img {
  display: none;
}
.preview_img .border_radius {
  width: 100px;
  background-color: white;
  padding: 5px;
  border-radius: 3px;
}
.preview_img img {
  width: 100%;
  transition:All 0.4s ease-in-out;
  -webkit-transition:All 0.4s ease-in-out;
  -moz-transition:All 0.4s ease-in-out;
  -o-transition:All 0.4s ease-in-out;
}
.preview_img img:hover {
  transform:scale(1.1);
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  -ms-transform:scale(1.1);
}
.preview_img .loading {
  background-color: white;
}

.ui.modal p:first-child {
  position: fixed;
  right: 15px;
}
.ui.modal .close {
  color: #111;
}
.ui.modal .content {
  padding: 15px;
}