html, body {
  font-family:'Roboto', '黑體-繁', '微軟正黑體', sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}
#title {
  margin: 0;
  padding: 0;
  height: 7%;
  width: 100%;
  background-color: #A5DEF1;

  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
  align-items:         center;
  -webkit-justify-content: center;
  justify-content:         center;
}
#title h3 {
  color: #F2F2F2;
}
#map-canvas {
  margin: 0;
  padding: 0;
  height: 93%;
  width: 100%;
}
.leaflet-control-window .content img {
  width: 100%;
}
