doctype html
html
  head
    style(type='text/css').
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
  body
    #map
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.2.0.js')
    script(type='text/javascript', src='./js/main.js').

    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAysfMuuDqC6J5tcRUa6rxZc4VY06L0RI4&callback=initMap')
